{% include '_header.html' %}

<section class="section section--list-single-restaurant">
    <div class="container">
            
        <h1 class="title">{{restaurant.name}}</h1>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="notification is-primary">
                        <button class="delete"></button>
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="columns is-multiline">
            {% for i in items %}
            <div class="column is-one-quarter">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">{{i.name}}</p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            {{i.description}}<br>
                            {{i.price}}
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = i.id)}}" class="card-footer-item">Edit</a>
                        <a href="{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = i.id )}}" class="card-footer-item">Delete</a>
                    </footer>
                </div>
            </div>
            {% endfor %}
        </div>

        <nav class="level">
            <!-- Left side -->
            <div class="level-left">
                <p class="level-item"><a  href="{{url_for('listAllRestaurants')}}" class="button is-dark">Back</a></p>
            </div>
            <!-- Right side -->
            <div class="level-right">
                <p class="level-item"><a href="{{url_for('newMenuItem', restaurant_id = restaurant.id)}}" class="button is-info">Create new Menu Item</a></p>
            </div>
        </nav>
            
    </div>
</section>

{% include '_footer.html' %}
